{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>STUDENTS DETAILS</h1>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
         <div class="shadow card bg-light mb-3">
            <div class="card-body">
            <a class="btn btn-black" href="crud_app/register"><h5>register</h5></a>
                <a class="btn btn-black" href="crud_app/login"><h5>login</h5></a>
            </div>
         </div>
    </div>
</div>
</body>
</html>
{% endblock %}